* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 350px;
    height: auto;
}

#value {
    font-size: 32px;
    font-weight: bold;
}

.credit {
    text-align: center;
}
